body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ff4584;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Caveat", cursive;
  background-color: #ff4584;
}
.logo {
  color: white;
  text-transform: capitalize;
  letter-spacing: 6px;
  font-size: 50px;
}
h4 {
  margin: 0.4rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
li {
  list-style: none;
  font-size: bold;
}
a {
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 300;
}
a:hover {
  font-weight: 300;
  font-size: 42px;
  cursor: pointer;
  size: 20px;
  transition: 0.5s;
  color: rgb(20, 16, 236);
}
.burger {
  display: none;
  cursor: pointer;
}
.line1 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.line2 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* The second added part,from here every thing is getting messsy*/

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.girl {
  z-index: 12;
}
#hello {
  position: relative;
  color: white;
  font-size: 250px;
  height: 5vh;
  font-family: "Caveat", cursive;
  z-index: 11;
  letter-spacing: 5px;
  font-weight: 800;
  transform: translate(-95%, 15%);
}

.text {
  position: absolute;
  margin-top: 150rem;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  font-family: "Caveat", cursive;
  color: #fff;
}
h2 {
  border-top: 50px;
  margin-top: 100px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    left: -100%;
    top: 5.5vh;
    background-color: #ff4584;
    align-items: center;
    width: 50%;
    transition: 0.3s ease-in;
    gap: 0;
  }
  li {
    margin: 16px 0;
  }
  h4 {
    margin: 0.5rem;
    font-size:20rem;
  }
  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 40px;
  }
  .burger.active .line2:nth-child(2) {
    opacity: 0;
  }
  .burger.active .line1:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .line3:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
  .nav-links.burger.active {
    left: 0;
  }
  h2 {
    border-top: 10px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .text {
    position: absolute;
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    font-family: "Caveat", cursive;
    color: #fff;
  }
  #hello {
    position: relative;
    color: white;
    font-size: 15.5vh;
    height: 5vh;
    font-family: "Caveat", cursive;
    z-index: 15;
    letter-spacing: 5px;
    font-weight: 800;
    transform: translate(-95%, 15%);
  }
  h4 {
    border-top: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
  }.girl {
  z-index: 12;
}
